* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after,
.clearfix::before {
  content: "";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p,
input {
  margin: 0;
}
.account_add_btn {
  height: 1.866666rem;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.4rem 0.266666rem;
}
.account_add_btn a {
  font-size: 16px;
  display: block;
  height: 1.066666rem;
  line-height: 1.066666rem;
  background: #27A4DC;
  color: #fff;
  text-align: center;
}
.account_list {
  position: relative;
}
.account_list .list_ul {
  margin: 0.266666rem 0.333333rem;
}
.account_list li {
  border: 1px solid #27A4DC;
  background: #fff;
  border-radius: 0.106666rem;
  margin-bottom: 0.266666rem;
  padding: 0.266666rem;
  position: relative;
}
.account_list li .li_btn {
  color: #27A4DC;
  position: absolute;
  right: 0.333333rem;
  bottom: 0.266666rem;
}
.account_list li:nth-last-child(1) {
  margin-bottom: 0;
}
.account_list .cell_text {
  font-size: 12px;
  display: flex;
  display: -webkit-flex;
  width: 100%;
}
.account_list .cell_text p {
  font-size: 12px;
  color: #333;
}
.account_list .cell_text span {
  font-size: 12px;
  color: #333;
  margin-left: 0.4rem;
}
.account_list .cell_text .span_name {
  margin-left: 0.4rem;
  margin-right: 0.8rem;
}
.account_list .cell_text:nth-child(1) p {
  text-indent: 2em;
}
.account_list .cell_text:nth-child(1) span:nth-child(2) {
  margin-left: 0.4rem;
  margin-right: 0.8rem;
}
.account_list .cell_text:nth-child(1) span:nth-child(3) {
  margin: 0;
}
